@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  background: rgb(17 24 39);
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  pointer-events: none;
  background-color: transparent;
  background-clip: content-box;
  background-color: rgb(253 224 71);
}

.full-container {
  position: relative;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100dvh;
  width: 100%;
  scroll-behavior: smooth;
}

.section {
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 5px; /* Ajusta la posición según tu diseño */
  width: 20px; /* Ajusta el tamaño según tu diseño */
  height: 20px; /* Ajusta el tamaño según tu diseño */
  border: 2px solid #000;
  border-radius: 50%; /* Hace el checkbox circular */
  background-color: transparent;
}

/* Establece el color del checkbox cuando está seleccionado */
input[type="checkbox"]:checked + label .checkbox {
  background-color: var(
    --checkbox-color
  ); /* Utiliza una variable CSS para establecer el color */
}

.text-fill {
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px black;
  letter-spacing: 1px;

  text-shadow: 1px 1px 1px #fef08a, 3px 3px 3px #555353;
}
